
 {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/web.css' %}" type="text/css">
 <body leftmargin="100px" background="{% static "img/bg1.jpg" %}">
  <p>
    <a href="/admin" class="knopka">Admin</a>
      {% if not user.is_authenticated %}
      <a href="/accounts/login" class="knopka">Login</a>
      {% endif %}
      {% if user.is_authenticated %}
      <a href="/accounts/logout" class="knopka">Logout</a>
      <a href="/single/new" class="knopka">Add post</a>
      <a>Ласкаво просимо {{user}}</a>
      {% endif %}
    </p>

{% for new in blog %}
<h2><a href="{% url 'blog_detail' pk=new.id %}">{{ new.title }}</a></h2>
    <p>{{ new.text_min|safe }}</p>
    <p>{{ new.created }}</p>
{% endfor %}
 </body>