{% extends 'blog/base.html' %}
{% block desc %}{{ new.description }}{% endblock desc %}
{% block keywords %}{{ new.keywords }}{% endblock keywords %}
{% block title %}{{ new.title }}{% endblock title %}

  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/web.css' %}" type="text/css">

{% block content %}
    <h1>{{ new.title }}</h1>
    <p class="goo">{{ new.text }}</p><hr>

    Категорія - {{ new.category}}<br>
    Теги - {% for tag in new.tags.all %}
                 {{tag.title}}
            {% endfor %} <br>
    Автор:{{ new.user}} - {{ new.created}}<hr>
    <h4 class="goo">Коментар</h4>
    {% for comment in comments %}
        Користувач - {{comment.user}}<br>
        {{comment.text}}<br>
        {{comment.created}}<br>
        {% if user.is_authenticated and user == comment.user or user.is_superuser%}
        <form action="{% url 'edit_com' id=comment.id %}">
        <button type="submit">Редагувати</button></form>

        <form action="{% url 'del_com' id=new.id %}">
        <button type="submit" class="knopka">Видалити</button></form>

        {% endif %}<br>
    {% endfor %}
    {% if user.is_authenticated %}
    <form action="" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
    </form>
    {% if user == new.user or user.is_superuser%}
    <form action="{% url 'edit_post' id=new.id %}">
        <button type="submit">Редагувати</button>
    </form>
    <form action="{% url 'del_post' id=new.id %}">
         <button type="submit" class="knopka">Видалити</button>
    </form>
    {% endif %}
    {% endif %}
{% endblock content %}