<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/web.css' %}" type="text/css">

    <meta charset="UTF-8">
    <meta name="discription" content="{% block desc %}{% endblock desc %}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <title>{% block title %}{% endblock title %}</title>


</head>

<body leftmargin="100px" background="{% static "img/bg1.jpg" %}">

    <p>
    <a href="/" class="knopka">Головна сторінка</a>
    <a href="/admin" class="knopka">Admin</a>
    </p>
    {% block content %}
    {% endblock content %}

</body>
</html>